@model HotelReservationManager.ViewModels.ClientViewModels.CreateClientViewModel

<div class="container">
    <h1 class="mt-4 mb-3">Create Client</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">My Hotel</a>
        </li>
        <li class="breadcrumb-item active">Clients</li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
    <form class="mx-auto half-width" method="post" asp-controller="Client" asp-action="Create">
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" value="">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ThirdName">Third Name</label>
            <input asp-for="ThirdName" class="form-control" value="">
            <span asp-validation-for="ThirdName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" value="">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" value="">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Years">Years</label>
            <input asp-for="Years" class="form-control" value="">
            <span asp-validation-for="Years" class="text-danger"></span>
        </div>
        <hr>
        <div class="button-holder mt-2 d-flex w-25 mx-auto justify-content-between">
            <a class="btn btn-primary" asp-controller="Client" asp-action="List">Back</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <hr>
    </form>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
