@using Microsoft.AspNetCore.Identity
@using HotelReservationManager.Data.Models

@inject SignInManager<HotelUser> SignInManager
@inject UserManager<HotelUser> UserManager

<div class="container">

    <h1 class="mt-4 mb-3">Blocked Users</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">My Hotel</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item active">Blocked</li>
    </ol>


    <div class="card mb-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input id="search" type="text" class="form-control" placeholder="Search by some Name">
            </div>
        </div>
    </div>

    <div id="blocked-users">

    </div>

    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" onclick="prevPage()" id="btn_prev" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" id="page"></a>
        </li>
        <li class="page-item">
            <a class="page-link" onclick="nextPage()" id="btn_next" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>

</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    var search = document.getElementById("search");
    var blockedUsers = document.getElementById("blocked-users");
    var btn_next = document.getElementById("btn_next");
    var btn_prev = document.getElementById("btn_prev");
    var page_number = document.getElementById("page");
    const records_per_page = 5;
    let current_page = 1;
    let usersHTML = [];

    function searchUsers() {
        $.ajax({
            url: "/HotelUser/SearchBlockedUsers",
            type: "GET",
            dataType: "json",
            async: true,
            data: {
                term: search.value
            },
            success: function (items) {
                usersHTML = [];

                items.forEach(item => {
                    createUserCard(item);
                });

                changePage(current_page);
            },
            error: function (response) {
                debugger;
                alert('eror');
            }
        });
    }

    function createUserCard(item) {
        var card = document.createElement("div");
        var cardBody = document.createElement("div");
        var rowStart = document.createElement("div");
        var sizeInCols = document.createElement("div");
        var username = document.createElement("h2");
        var role = document.createElement("p");
        var fullName = document.createElement("p");
        var ucn = document.createElement("p");
        var phoneNumber = document.createElement("p");
        var email = document.createElement("p");
        var startDate = document.createElement("p");
        var footer = document.createElement("div");
        var whiteSpace = document.createElement("span");
        var editButton = document.createElement("a");
        var activateButton = document.createElement("a");

        card.className = "card mb-4"
        cardBody.className = "card-body";
        rowStart.className = "row";
        sizeInCols.className = "col-lg-6";
        username.innerHTML = "Username: " + item.username;
        role.innerHTML = "Role: " + item.role;
        fullName.innerHTML = "Full Name: " + item.firstName + " " + item.secondName + " " + item.thirdName;
        ucn.innerHTML = "UCN: " + item.ucn;
        phoneNumber.innerHTML = "Phone Number: " + item.phoneNumber;
        email.innerHTML = "Email: " + item.email;
        startDate.innerHTML = "Start Date: " + new Date(item.startDate).toLocaleDateString();
        footer.className = "card-footer text-muted";
        whiteSpace.innerHTML = "&nbsp;";
        editButton.className = "btn btn-primary";
        editButton.href = "/HotelUser/EditBlockedUser/" + item.id;
        editButton.innerHTML = "Edit"
        activateButton.className = "btn btn-primary";
        activateButton.href = "/HotelUser/Activate/" + item.id;
        activateButton.innerHTML = "Activate";

        card.appendChild(cardBody);
        cardBody.appendChild(rowStart);
        rowStart.appendChild(sizeInCols);
        sizeInCols.appendChild(username);
        sizeInCols.appendChild(role);
        sizeInCols.appendChild(fullName);
        sizeInCols.appendChild(ucn);
        sizeInCols.appendChild(phoneNumber);
        sizeInCols.appendChild(email);
        sizeInCols.appendChild(startDate);
        card.appendChild(footer);
        footer.appendChild(editButton);
        footer.appendChild(whiteSpace);
        footer.appendChild(activateButton);

        usersHTML.push(card);
    }

    function removeBlockedUsers() {
        for (var i = blockedUsers.children.length - 1; i >= 0; i--) {
            blockedUsers.removeChild(blockedUsers.children[i]);
        }
    }

    function prevPage() {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage() {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page) {
        if (page < 1) {
            page = 1
        };

        if (page > numPages()) {
            page = numPages()
        };

        removeBlockedUsers();

        for (var i = (page - 1) * records_per_page; i < (page * records_per_page); i++) {
            if (usersHTML.length - 1 >= i && i >= 0) {
                blockedUsers.appendChild(usersHTML[i]);
            }
        }
        page_number.innerHTML = page;

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page == numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages() {
        return Math.ceil(usersHTML.length / records_per_page);
    }

    window.onload = function () {
        searchUsers();
        changePage(1);
    };

    search.addEventListener("input", function () {
        removeBlockedUsers();
        searchUsers();
    });
</script>