@using Microsoft.AspNetCore.Identity;
@using HotelReservationManager.Data.Models

@inject UserManager<HotelUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Hotel</title>

    <link href="~/css/main-stylesheet.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">My Hotel</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    @{var user = await UserManager.GetUserAsync(User);}
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (user.IsActive)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Reservations
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Reservation" asp-action="Create">Create</a></li>
                                    <li><a class="dropdown-item" asp-controller="Reservation" asp-action="List">List</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Rooms
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                        <li><a class="dropdown-item" asp-controller="Room" asp-action="Create">Create</a></li>
                                    }
                                    <li><a class="dropdown-item" asp-controller="Room" asp-action="List">List</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Clients
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Client" asp-action="Create">Create</a></li>
                                    <li><a class="dropdown-item" asp-controller="Client" asp-action="List">List</a></li>
                                </ul>
                            </li>
                            @if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Users
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create</a></li>
                                        <li><a class="dropdown-item" asp-controller="HotelUser" asp-action="ActiveList">Active List</a></li>
                                        <li><a class="dropdown-item" asp-controller="HotelUser" asp-action="BlockedList">Blocked List</a></li>
                                    </ul>
                                </li>
                            }
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }

                </ul>

            </div>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>


    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Hotel Reservation Manager by Blagovest Yordanov</p>
        </div>
    </footer>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


    <script src="@Url.Content("~/vendor/jquery-validation/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/vendor/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

</body>

</html>